<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Vue Tutorial</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <h1>{{'Prod: ' + producto }}</h1>
    <h3>{{descripcion}}</h3>

    <div class="cart">Podructos({{unidades}})</div>

            <p v-if="stock > 5">Disponible</p>
            <p v-else-if="stock > 0">¡Últimas unidades!</p>
            <p v-else-if="stock = 0 ? totalStock = false : true">No Disponible</p>

            <div class="product-image">

                <a :href=wikiCalcetines><img :class="{ 'out-of-stock-img': !totalStock }" v-bind:src=imagen :title=tooltip></a>

            </div>
            <p v-if="enOferta">¡¡¡OFERTON!!</p>
            <div class="color-circle" v-for="color in colores" :key=color.cod
                 @mouseover="updateImagenes(color.imagenes)"
                 :style="{ backgroundColor: color.cod}">{{color.color}}
            </div>
            <ul>
                <li v-for="detalles, indice in detalles">{{ indice + ":" + detalles}}</li>
            </ul>
            <button class="button" :class="{disabledButton: !totalStock}" :disabled="!totalStock" @click="añadirAlCarrito()">¡Comprar!</button>
            <button class="button" @click="quitarDelCarrito()">¡Quitar del Carrito!</button>
        </div>
    </div>
<!-- Import Js -->
<script src="app.js"></script>
</body>
</html>
